#marqueeContainer {
    background: #ffffff;
    padding: 8px 12px;
    max-width: 560.945px;
}

#marqueeContainer .new-badge {
    background-color: #F18234;
    padding: 4px 12px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;    
}

.marquee>span {
    display: inline-block;
    animation: marquee 10s linear infinite;
    padding: 0 4px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}